#!/usr/bin/env ruby
require 'nanoc/latexmk'

compile '/key.asc.slim' do
  filter :slim
  write ext: 'asc'
end

compile '/**/*.md' do
  filter :kramdown
  layout '/default.slim'
end

compile '/**/*.slim' do
  filter :slim
  layout '/default.slim'
end

# Stylesheets
compile '/assets/css/*.scss' do
  filter :sassc,
         syntax: :scss,
         style: :compressed,
         load_paths: ['content/assets/css/']
  filter :autoprefixer
  write item.identifier.without_ext.to_s.sub('/assets/css', '/css') + '.css'
end

# Simplistic URL's
route '/**/*.{md,slim}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

# Move asset subfolders and files to root folder
route '/assets/**/*' do
  item.identifier.to_s.sub('/assets', '')
end

# Let non-specified stuff simply pass trough
passthrough '/**/*'

# Layouts
layout '/**/*.slim', :slim
layout '/**/*.erb', :erb
