#!/usr/bin/env ruby

compile '/cv.md' do
  filter :kramdown
  layout '/cv.*'
  layout '/default.*'
end

compile '/**/*.md' do
  filter :kramdown
  layout '/default.*'
end

compile '/assets/*.scss' do
  filter :sass, syntax: :scss, style: :compressed
  filter :autoprefixer
  write ext: 'css'
end

route '/**/*.md' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :slim
