---
title: Curriculum Vitae — Rien Maertens
og:
  type: website
  url: https://rien.maertens.io/cv/
  image: https://rien.maertens.io/img/rienmaertens.png
  'image:alt': Rien Maertens
  description: Curriculum Vitae of Rien Maertens, a computer scientist.

html_class: cv
pdf_stylesheets:
  - /assets/css/pdf.scss
  - /assets/css/fira-mono.css.erb
---
section
  markdown:
    # Rien Maertens

    A computer **scientist** with a **creative** mindset.
    Enjoys solving complex problems with **simple solutions**.
    Has a nose for **security** and an appetite for **performance**.
    Works towards a better world for everyone.

section
  markdown:
    ## Contact
      - [github.com/rien](https://github.com/rien)
      - [rien.maertens@posteo.be](mailto:rien.maertens+cv@posteo.be)
      - [**PGP** 6EFE 691C 8362 F089 BB02<br>&nbsp;&nbsp;&nbsp;&nbsp;C293 6D87 6BD3 1366 2F0E](/key.asc)

section
  markdown:
    ## Experience

    - **Researcher** for my masters dissertation on
      [Unipept](https://unipept.ugent.be/). Optimizing and extending the existing
      Metagenomics Analysis pipeline written in **Rust**.

    - **Software developer** as an intern in the summer of 2018.
      Optimized the **Java** software responsible for optimal pole pacement at
      [Comsof](https://comsof.com/), a network optimization software company.

    - **Teaching assistant** as a student job.
      - **2018** Java course for students Computer Science.
      - **2017** Python course for students Biology, Chemistry and Physics.

    - **Web developer** as a student job for
      [Dodona](https://dodona.ugent.be/en/).
      An online platform for students to learn programming and algorithms.
      I worked a total of 6 months (in intervals) on this **Ruby on Rails**
      application.

    - **Systems administrator** and **board member** of the student association
      [Zeus WPI](https://zeus.gent). Which focusses on creating fun projects,
      organising mind-opening events and promoting Free and Open Source Software.

section
  markdown:
    ## Technologies

    - ★★★ Ruby (on Rails), Java, Python, Unix, Git
    - ★★☆ Web, Rust, C(++), SQL, Nginx, Ansible
    - ★☆☆ R, Haskell, Go, Tensorflow, Docker, Postfix

    ## Education
      - [2017 - 2019] Master of Science in Computer Science (work in progress) — Ghent University
      - [2014 - 2017] Bachelor of Science in Computer Science (cum laude) — Ghent University

    ## Hobbies
      - **Tinkering** with Unix systems: servers, laptops, clusters, ...
      - **Discovering** and learning new technologies.
      - **Solving** puzzles, capture the flags and programming competitions.
      - **Performing** theatre and improv comedy.

section.center.hidden-print
  a href='/cv.pdf' Download as PDF

