---
title: Curriculum Vitae — Rien Maertens
og:
  type: website
  url: https://rien.maertens.io/cv/
  image: https://rien.maertens.io/img/rienmaertens.png
  'image:alt': Rien Maertens
  description: Curriculum Vitae of Rien Maertens, a computer scientist.

html_class: cv
pdf_stylesheets:
  - /assets/css/pdf.scss
  - /assets/css/fira-mono.css.erb
---
section
  markdown:
    # Rien Maertens

    A **computer scientist** with a **creative** mindset.
    Enjoys solving complex challenges with **simple solutions**.
    Has a nose for **security** and an appetite for **performance**.
    Works towards a better world for everyone.

section
  markdown:
    ## Contact
      - [@rien@toot.rxn.be](https://toot.rxn.be/@rien){:rel="me"}
      - [rien.maertens@posteo.be](mailto:rien.maertens+cv@posteo.be)
      - [github.com/rien](https://github.com/rien){:rel="me"}
      - [linkedin.com/in/rienmaertens](https://www.linkedin.com/in/rienmaertens){:rel="me"}
      - [@RienMaertens](https://twitter.com/RienMaertens){:rel="me"}
      - [Ghent, Belgium](https://www.openstreetmap.org/relation/897671)

section
  markdown:
    ## Experience
    - **Researcher** at [Ghent University](https://ugent.be) investigating simple
      solutions for complex problems. [List of publications](https://scholar.google.com/citations?user=-v9IEX4AAAAJ).
      - **[Dolos](https://dolos.ugent.be)**: code plagiarism detection
      - **[Dodona](https://dodona.ugent.be)**: programming exercise platform
      - **[UMGAP](https://github.com/unipept/umgap)**: bioinformatics metagenomics


    - **Teacher** of [Computer Science](https://informatica.ugent.be/) topics
      - Algorithms & Datastructures (Java, C)
      - Object Oriented programming (Java)
      - Scripting (Python)

    - **Cybersecurity enthousiast**. Winner of the Cyber Security Challenge
      Belgium 2019 and part of the **national team** in the European Cyber
      Security Challenge 2018 (London).

    - **Software developer** as an intern at [Comsof](https://comsof.com/),
      a fiber network design company. Optimized and designed algorithms
      for optimal communication networks.

    - **Systems administrator** and **board member** of the student hacker space
      [Zeus WPI](https://zeus.gent), with a passion for open source software.

section
  markdown:
    ## Technologies

    **Code:**<br />Ruby, Java, Python, C, Rust, Haskell, Typescript

    **Frameworks:**<br />Ruby on Rails, Java Spring, Flask, Rocket

    **Software:**<br />Unix, Git, MySQL, LaTeX, Postfix, NixOS

    ## Education

    - **Computer Science** at Ghent University
      - **MSc.** 2017 - 2019 (cum laude)
      - **BSc.** 2014 - 2017 (cum laude)

    ## Hobbies
      - **Discovering** and learning technologies.
      - **Solving** puzzles and CTF's.
      - **Tinkering** with systems, applications, ...
      - **Performing** theatre and improv comedy.

section.center.hidden-print
  a href='/cv.pdf' Download as PDF


