---
title: Rien Maertens
navigation: Home
og:
  type: website
  url: https://rien.maertens.io/
  image: https://rien.maertens.io/rienmaertens.png
  'image:alt': Rien Maertens

projects:
  - name: Dotfiles
    url: https://github.com/rien/puntbestanden
    description: My most important dotfiles.
  - name: Rien.maertens.io
    url: https://github.com/rien/rien.maertens.io
    description: The source of this website. Generated with [nanoc](https://github.com/nanoc/nanoc)

description:  I am a student Computer Science at Ghent University and you have stumbled upon my website.
---
.center
  h1 Hello there
  p = @item[:description]
