---
title: Rien Maertens
og:
  type: website
  url: https://rien.maertens.io/
  image: https://rien.maertens.io/img/rienmaertens.png
  'image:alt': Rien Maertens

html_class: held
---
header
  h1 Rien
  p 6EFE 691C 8362 F089 BB02 C293 6D87 6BD3 1366 2F0E
nav
  a href='/cv/' whoami
  a href='https://github.com/rien' git
