@import "includes/vars";

main {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: $baseline auto 0 auto;
  max-width: 48*$baseline;
}

section {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 16*$baseline;
  max-width: 100%;
  margin: 0 $baseline;
}

ul {
  list-style: none;
  padding-left: 0;
}

li > ul {
  padding-left: $baseline;
}
