@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono Regular"), local("FiraMono-Regular"), url(/fonts/FiraMono-Regular.otf) format("opentype");
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Mono Bold"), local("FiraMono-Bold"), url(/fonts/FiraMono-Bold.otf) format("opentype");
}

body {
  font-size: 1rem;
  font-family: 'Fira Mono', monospace;
  line-height: 1.4rem;
  width: 100%;
}

h1, h2, h3 {
  line-height: 2.8rem;
}

p, ul, h1, h2, h3 {
  margin: 0 0 1.4rem 0;
}

.held main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: fit-content;
  margin: auto;
}

.held header {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.held header h1 {
  font-size: 11.2rem;
  line-height: 11.2rem;
}

.held header h1, .held header h2 {
  margin: 0;
}

.held nav {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
}

.held nav a {
  margin: 1em 1em;
}

.cv main {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 1.4rem auto 0 auto;
  max-width: 67.2rem;
}

.cv section {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 22.4rem;
  max-width: 100%;
  margin: 0 1.4rem;
}

.cv ul {
  list-style: none;
  padding-left: 0;
}

.cv li > ul {
  padding-left: 1.4rem;
}

.center {
  text-align: center;
}

@page {
  size: a4 portrait;
}

@media print {
  html {
    font-size: 10pt;
  }

  .hidden-print {
    display: none;
  }

  a {
    text-decoration: none; 
  }
}
