@import "includes/normalize";
@import "includes/vars";

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(/fonts/FiraMono-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Mono Bold'), local('FiraMono-Bold'), url(/fonts/FiraMono-Bold.otf) format('opentype');
}

@import "includes/style";
