@import "includes/normalize";

$baseline: 24px;

body{
  font: 1.2em/1.62 monospace;
  padding: 0 .62em;
  width: 100%;
}

h1,h2,h3 {
  line-height: $baseline*2;
}

.held {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: fit-content;
  margin: auto;

  header {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 12em;
      margin: .2em 0;
    }
  }

  nav {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    a {
      margin: .5em 1em;
    }
  }
}

@media print{
  body{
    max-width:none
  }
}
