@import "includes/normalize";
@import "includes/vars";

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(/fonts/FiraMono-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Mono Bold'), local('FiraMono-Bold'), url(/fonts/FiraMono-Bold.otf) format('opentype');
}

body{
  padding-top: 6px;
  font-size: 16px;
  font-family: 'Fira Mono', monospace;
  line-height: $baseline;
  width: 100%;
}

h1,h2,h3 {
  line-height: $baseline*2;
}

p, ul, h1, h2, h3 {
  margin: 0 0 $baseline 0;
}
